<!DOCTYPE html>
<html ng-app="app">
<base href="/" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up!</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="assets/css/user.css">

    <!--Lumx requirements start-->
    <link rel="stylesheet" href="bower_components/lumx/dist/lumx.css">
    <!-- ALREADY FULFILLED
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"-->

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/velocity/velocity.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lumx/dist/lumx.js"></script>
    <!--Lumx requirements end-->

    <script src="controllers/signup.js"></script>
</head>

<body ng-controller="bodyControl as vm">
    <header class="signupHeader">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-link"></a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation"><a href="/">About </a></li>
                        <li class="active" role="presentation"><a>Sign up</a></li>
                        <li role="presentation"><a href="/contact">Contact the developers</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h1 class="text-center bg-primary">Sign Up Today!</h1>
    <div class="p+" flex-container="column" flex-align="space-between center">
        <lx-button lx-size="xl" lx-type="raised" ng-click="vm.ambassadorSignup()">sign up as an ambassador</lx-button>
    </div>
	<div ng-show="vm.ambassadorClicked" class="p+">
		<p>
			Accepting this shit implies that you're willing to meet a person who is...
		</p>
		<lx-checkbox lx-color="blue" ng-model="vm.ambassadorAgreed" class="mt+">
			<lx-checkbox-label>I understand the duties of an ambassador and am ready to continue.</lx-checkbox-label>
			<lx-checkbox-help>Check the box and click the appropriate button to continue.</lx-checkbox-help>
		</lx-checkbox>
	</div>
    <div class="p+" flex-container="column" flex-align="space-between center"> 
        <lx-button lx-size="xl" lx-type="raised"ng-click="vm.guestSignup()">sign up as a guest</lx-button>
    </div>
	<div ng-show="vm.guestClicked" class="p+">
		<p>
			Accepting this shit implies that you're willing to meet a person who is...
		</p>
		<lx-checkbox lx-color="blue" ng-model="vm.guestAgreed" class="mt+">
    		<lx-checkbox-label>I understand the duties of an ambassador and am ready to continue.</lx-checkbox-label>
			<lx-checkbox-help>Check the box and click the appropriate button to continue.</lx-checkbox-help>
		</lx-checkbox>
	</div>
    <footer>
        <h5>PROPEL Portland 2016</h5></footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
