<!DOCTYPE html>
<html ng-app="app" style="overflow-x: hidden;">
<base href="/" />

<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon"/>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambassador Signup</title>
    <link rel="stylesheet" href="bower_components/lumx/dist/lumx.css">

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="assets/css/user.css">

    <!--Lumx requirements start-->
    <!--link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"-->

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/velocity/velocity.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lumx/dist/lumx.js"></script>
    <!--Lumx requirements end-->

    <!-- Angular -->
    <script src="module/app.js"></script>
     <script src="services/configService.js"></script>
    <script src="services/AmbassadorService.js"></script>
    <script src="services/dataServices.js"></script>
    <script src="controllers/ambassador.js"></script>
    <script src="components/navHeader/navHeader.js"></script>
</head>

<body >
<header class="signupHeader">
    <nav-header></nav-header>
</header>
<div class="container post">
    <div class="row">
        <div class="col-md-6 post-title">
            <h4><strong>Signup as an Ambassador</strong></h4></div>
        <div class="col-md-6 col-md-offset-0 post-body">
            <p>Interested in being a Maine Ambassador? Great, Maine
                needs your help!</p>
            <p>Ambassadors are Mainers that grab coffee, a beer or
                even lunch with folks that have recently moved, on
                vacation or a business trip in order to talk about
                Maine and demonstrate what living here is all about.
                Your job during the meet up is simply to give them a
                warm Maine welcome.</p>
            <p>All that we ask of Ambassadors is to accept at least
                one meet up per month and if accepted, make time for
                the meetup as soon after the introduction as possible.
                That’s It!</p>
        </div>
    </div>
    <div class="row">
         <div class="col-md-6 col-md-offset-0 post-body">
    Already an ambassador and you want to deactivate/activate your account?
     <a href="/signup/ambassador/toggleactive.html">click here</a>
     </div>
</div>
</div>


<form ng-controller="bodyControl as vm">
    <div class="p+" flex-container="row" flex-gutter="24" flex-column="16">
        <div flex-item="4" class="alert alert-danger" ng-show="vm.errorMessage!=''">
            {{vm.errorMessage}}
        </div>
        <div flex-item="4">
            <lx-text-field lx-label="Name*" lx-allow-clear="true" lx-icon="account"
                           lx-error="!vm.validation.name(vm.ambassador) && vm.illegalSubmit"
                           lx-valid="vm.validation.name(vm.ambassador)">
                <input type="text" ng-model="vm.ambassador.name">
            </lx-text-field>
            <lx-text-field lx-label="Email address*" lx-allow-clear="true" lx-icon="email"
                           lx-error="!vm.validation.email(vm.ambassador) && vm.illegalSubmit"
                           lx-valid="vm.validation.email(vm.ambassador)">
                <input type="email" ng-model="vm.ambassador.email">
            </lx-text-field>
            <lx-text-field lx-label="Current Company" lx-allow-clear="true" lx-icon="city"
                           lx-valid="vm.validation.currentCompany(vm.ambassador)">
                <input type="text" ng-model="vm.ambassador.currentCompany">
            </lx-text-field>
            <lx-text-field lx-label="Job Title*" lx-allow-clear="true" lx-icon="clipboard-account"
                           lx-error="!vm.validation.jobTitle(vm.ambassador) && vm.illegalSubmit"
                           lx-valid="vm.validation.jobTitle(vm.ambassador)">
                <input type="text" ng-model="vm.ambassador.jobTitle">
            </lx-text-field>
            <lx-text-field lx-label="LinkedIn URL" lx-allow-clear="true" lx-icon="linkedin-box"
                           lx-valid="vm.validation.linkedInUrl(vm.ambassador)">
                <input type="text" ng-model="vm.ambassador.linkedInUrl">
            </lx-text-field>
            <lx-text-field lx-label="Facebook URL" lx-allow-clear="true" lx-icon="facebook-box"
                           lx-valid="vm.validation.facebookUrl(vm.ambassador)">
                <input type="text" ng-model="vm.ambassador.facebookUrl">
            </lx-text-field>
        </div>

        <div flex-item="4">
            <lx-select ng-model="vm.ambassador.nearestCity"
                       lx-allow-clear="true"
                       lx-choices="vm.cities"
                       lx-display-filter="true"
                       lx-label="Nearest City*"
                       lx-error="!vm.validation.nearestCity(vm.ambassador) && vm.illegalSubmit"
                       lx-valid="vm.validation.nearestCity(vm.ambassador)">
                <lx-select-selected>
                    {{ $selected.name }}
                </lx-select-selected>
                <lx-select-choices>
                    {{ $choice.name }}
                </lx-select-choices>
            </lx-select>
            <lx-select ng-model="vm.ambassador.industries"
                       lx-allow-clear="true"
                       lx-choices="vm.industries"
                       lx-display-filter="true"
                       lx-multiple="true"
                       lx-label="Industries*"
                       lx-error="!vm.validation.industries(vm.ambassador) && vm.illegalSubmit"
                       lx-valid="vm.validation.industries(vm.ambassador)">
                <lx-select-selected>
                    {{ $selected.description }}
                </lx-select-selected>
                <lx-select-choices>
                    {{ $choice.description }}
                </lx-select-choices>
            </lx-select>
            <lx-text-field lx-label="Years In Industry*" lx-allow-clear="true" lx-icon="calendar-clock"
                           lx-error="!vm.validation.yearsOfExperience(vm.ambassador) && vm.illegalSubmit"
                           lx-error="!vm.validation.yearsOfExperience(vm.ambassador) && vm.illegalSubmit"
                           lx-valid="vm.validation.yearsOfExperience(vm.ambassador)">
                <input type="number" ng-model="vm.ambassador.yearsOfExperience">
            </lx-text-field>
        </div>
    </div>

    <div class="p+" flex-container="row" flex-gutter="24" flex-column="16">
        <div flex-item="4"></div>
        <div flex-item="4">
            <lx-checkbox ng-model="vm.legalCheck"
                         lx-color="green"
            >I have read, I understand, and I agree to PROPEL's
                <a href="/signup/legal" target="_blank">terms of use</a>
                for this application
            </lx-checkbox>
        <lx-button
                type="submit"
                ng-disabled="!vm.legalCheck"
                lx-type="raised"
                ng-click="vm.add()">
            Submit
        </lx-button>
        </div>
    </div>
</form>

<footer>
    <h5>POWERED BY PROPEL</h5></footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
