<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link"></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active:(vm.path==='/')}" role="presentation"><a href="/">About</a></li>
                <li ng-class="{active:(vm.path==='/signup/ambassador/')}" role="presentation"><a href="/signup/ambassador">Signup as an Ambassador</a></li>
                <li ng-class="{active:(vm.path==='/signup/guest/')}" role="presentation"><a href="/signup/guest">Signup as a Guest</a></li>
                <li ng-class="{active:(vm.path==='/contact/')}" role="presentation"><a href="/contact">Contact the developers</a></li>
            </ul>
        </div>
    </div>
</nav>
